.links{
  /* float: left; */
  width: 250px;
  margin: auto;
  margin-top: 20px;
}

@media only screen and (max-width: 990px) {
  .links{
    float: right;
  }
}

@media only screen and (min-width: 1800px) {
  #links-navbar{
    float: left;
    width: calc((100vw - 1140px)/2);
    margin: auto;
  }
}

/* @media only screen and (max-width: 1800px) {
  #links-navbar{
    float: none;
    position: relative;
  }
} */

@media only screen and (max-width: 1800px) and (min-width: 990px) {
  main{
    width: 80vw;
    float: right;
    margin: none;
    margin-right: 20px;
    padding: none;
  }
  #links-navbar{
    width: 15vw;
    float: left;
  }
  .links{
    width: 15vw;
    margin: auto;
  }
}

table{
  font-size: 14px;
}

a{
  text-decoration: none;
}

.red{
  color: red;
}

.card-head{
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 20px;
}
