.links{
  float: left;
  width: 300px;
  margin: 20px;
}

@media only screen and (max-width: 1790px) {
  .links{
    float: none;
    margin: auto;
    width: 50%;
  }
}

table{
  font-size: 14px;
}

a{
  text-decoration: none;
}

form{
  margin-bottom: 20px;
}
