.links{
  float: left;
  width: 300px;
  margin-top: 20px;
}

@media only screen and (max-width: 990px) {
  .links{
    float: right;
  }
}

@media only screen and (min-width: 1800px) {
  #links-navbar{
    float: left;
    width: 300px;
    margin: auto;
  }
}

/* @media only screen and (max-width: 1800px) {
  #links-navbar{
    float: none;
    position: relative;
  }
} */

@media only screen and (max-width: 1800px) and (min-width: 990px) {
  main{
    width: 80vw;
    float: right;
    margin: none;
    margin-right: 20px;
    padding: none;
  }
  #links-navbar{
    width: 15vw;
    float: left;
  }
  .links{
    width: 15vw;
  }
}

table{
  font-size: 14px;
}

a{
  text-decoration: none;
}

.red{
  color: red;
}

.card-head{
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
       -o-transition: height .35s ease;
          transition: height .35s ease;
}
